table{
    border: 1px solid #eee;
    border-spacing: 0px;
}

th,td{
    border: 1px solid #ccc;
    text-align: center;
    padding: 0 20px;
}

.lightgrey{
    background: #f5f5f5;
}

time{
    color: rgb(102, 101, 179);
}
