        .adverise {
            width: 245px;
            height: 160px;
            margin:5px;
            margin-top: 10px;
        }

        .Man100{
            width:330px;
            height:320px;
            float: left;
            margin:5px;
        }
