/**
 * liuzixu 5552222电信
 * 2016-12-14
 */
*{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
}
section{
  margin:50px;
}
ul{
  display: none;
}
div[role="imggroup"]{
  width:20%;
  position: relative;
}
div[role="imggroup"] img{
  position: absolute;
}
.socks{
  bottom: -50px;
  transform:rotate(19deg);
  -ms-transform:rotate(19deg); /* Internet Explorer */
  -moz-transform:rotate(19deg); /* Firefox */
  -webkit-transform:rotate(19deg); /* Safari 和 Chrome */
  -o-transform:rotate(19deg); /* Opera */
}
.people{
  right: -10px;
  transform:rotate(340deg);
  -ms-transform:rotate(340deg); /* Internet Explorer */
  -moz-transform:rotate(340deg); /* Firefox */
  -webkit-transform:rotate(340deg); /* Safari 和 Chrome */
  -o-transform:rotate(340deg); /* Opera */
}
.wreath{
  bottom: -27px;
  left:42px;
  transform:rotate(340deg);
  -ms-transform:rotate(340deg); /* Internet Explorer */
  -moz-transform:rotate(340deg); /* Firefox */
  -webkit-transform:rotate(340deg); /* Safari 和 Chrome */
  -o-transform:rotate(340deg); /* Opera */
}
.title span{
  z-index: 1;
  color:red;
}
.title {
  font-family: 'Anton', fantasy;
  font-size:25px;
  width:20%;
  text-align:center;
  background-color: rgb(0,128,0);
  border-radius: 10px;
  text-transform: uppercase;
}
.title:hover {
  color:rgb(245,245,245);
  background-color: rgb(0,100,0);
  box-shadow: 3px 3px 15px 0 black inset;
}
.title:hover ul{
  display: block;
  padding: 0;
}
.title:hover ul li {
  list-style-type: none;
}
.title:hover ul li:hover {
  background-color: rgb(245,245,245);
}
.title:hover ul li::before{
  content:url(../images/christmas_tree.png);
  display: inline-block;
  padding-right:10px;
}
.title:hover ul li a{
  color:red;
  text-decoration: none;
}
