/**
 * liuzixu
 * 2016-12-14
 */
*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
  font-family: "微软雅黑";
}
body{
  background-color: rgb(211,211,211);
}
.heart{
  color:#DA3249 !important;
}
.left-part , .middle-part{
  z-index: 20;
  position: relative;
  float: left;
}
.left-part{
  height:100vh;
  width: 32vw;
  background-color: white;
  padding:40px;
  color:#58585a;
}
/*左部 -> 头部部分*/
.left-part header{
  width:100%;
}
.left-part header figure{
  margin: 0;
}
.left-part header figure figcaption{
  display: inline-block;
  letter-spacing: 12px;
  font-size: 7px;
  color: inherit;
}
.left-part header ul{
  display: inline-block;
  padding:0;
}
.left-part header ul li{
  list-style-type: none;
  display: inline-block;
}
.left-part header ul .weibo{
  border-right: 2px solid #c2c2c3;
  padding-right: 20px;
}
.left-part header ul li a{
  text-decoration: none;
  font-size:25px;
  padding:7px;
  color: inherit;
}
/*左部 -> 中间部分*/
.left-part section{
  font-family: 'Oswald' , "微软雅黑";
  margin-top: 70px;
}
.left-part section h1{
  font-size: 80px;
  margin-bottom: 50px;
}
.left-part section figure[role="head-img"] img{
  height: 100px;
  border-radius: 50%;
}
.left-part section figcaption[role="copyright"]{
  display: inline-block;
  font-size: 12px;
  margin-left: -45px;
  border-bottom: 1px solid #c2c2c3;
}

/*中间*/
.middle-part{
  /**
   * 只需要设置高度，宽度会自适应
   */
  height:100vh;
}

/*右部*/
.font32{
  font-size: 2em !important;
}
.right-part{
  z-index: 0;
}
.right-part dl dt{
  position: relative;
  list-style-type: none;
  height: 20vh;
  width:100vw;
  background-color: lightgreen;
}
.right-part dl dt:hover{
  height: 25vh;
  font-size: larger;
}
/*.right-part dl dt:hover .font32{
  font-size: 40px !important;
}*/
.right-part dl dt:first-child{
  background-color: rgb(242, 183, 1);
}
.right-part dl dt:nth-child(2){
  background-color: rgb(229, 125, 4);
}
.right-part dl dt:nth-child(3){
  background-color: rgb(220, 0, 48);
}
.right-part dl dt:nth-child(4){
  background-color: rgb(177, 0, 88);
}
.right-part dl dt:last-child{
  background-color: rgb(124, 55, 138);
}
.right-part dl dt>div{
  position: absolute;
  top:35%;
  right: 7%;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.right-part dl dt>div div{
  display: inline-block;
  background-color: inherit;
}
