*{
	box-sizing: inherit;
}
body,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
}
html{
	box-sizing: border-box;
	font-family: Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self;
	font-size: 16px;

}
.container{
	width:70%;
	margin:0 auto;
	margin-top:20px;
	position: relative;
	overflow: hidden;
}
.container::before{
	content:"";
	display: block;
	clear: both;
	height:0;
}
.side{
	width:20%;
	padding:30px 0 30px 20px;
	float:left;
	background: #cdc;
	font-size: 0.875rem;
	padding-bottom: 100rem;
	margin-bottom: -100rem;
}
.main{
	 background: #ccc;
     overflow: hidden;
     padding:20px 30px;
     font-size: 1rem;
     padding-bottom: 100rem;
	 margin-bottom: -100rem;
}
.main ul li{
	margin-left: 50px;
}
.head{
	width:150px;
	text-align: center;
	padding:10px;
	background: #fff;
}
.head img{
	width:130px;
}
.information{
	margin-top: 30px;
}
.information ul li{
	list-style: none;
	height:30px;
	line-height: 30px;
}

.skill{
	margin-top:100px;
}
.com{
	background: #a00;
	height:15px;
	text-align: right;
	font-size: 0.75rem;
	margin-top: 2px;
}
.skill p{
	margin-top:10px;
}
.hc{
	width:70%;
}
.js{
	width:50%;
}
.bt{
	width:50%;
}
.php{
	width:40%;
}
.ew{
	width:80%;
}
.en{
	width:50%;

}
.my{
	width:20px;
	height:20px;
	background: url('image/icon.jpg') -30px 200px;
	display: inline-block;
}
li p{
	display: inline-block;
}
.judge p{
	padding:0 10px 0 50px;
	line-height: 30px;
	text-indent: 2em;
}
.name p{
	margin-top: 10px;
}

.main>div{
	margin-top:30px;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}
.main .name{
	margin-top: 0px;
}
.main ul{
	padding-left: 40px;
}
.project section{
	margin-top:20px;
}
.project ul li{
	line-height: 30px;
}
h4{
	margin:10px 0 0 50px;
}
h4 + div{
  margin-top:10px;
}
h4 + div ul li{
	line-height: 30px;
}
.information ul li>span:last-child{
	margin-left:3px;
}
h3>span:last-child{
	margin-left: 5px;
}
.other ul li{
	list-style: none;
	margin-top:10px;
}
.other{
	margin-top:100px;
}
.other ul>li:nth-child(2n){
	width:150px;
}
.other ul>li:nth-child(2n+1){
	text-align: center;
}
.other ul>li:nth-child(3){
	margin-top:100px;
}
.other ul li img{
	width:100%;
}

@media screen and (min-width:992px) and (max-width:1200px){
	.container{
		width:90%;
	}
}
@media screen and (min-width:767px) and (max-width: 991px){
	.container{
		width:95%;
	}
	html{
		font-size: 14px;
	}
	.head{
		width:100px;
		padding:5px;
	}
	.head img{
		width:80px;
	}
	.other ul>li:nth-child(2n){
		width:100px;
	}
}
@media screen and (max-width: 767px){
	.container{
		width:100%;
		margin-top: 0;
		overflow: auto;
	}
	.container::after{
		content: "";
		display: block;
		clear: both;
		height: 0;
	}
	.side{
		width: 100%;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.main{
		width:100%;
		padding-bottom: 20px;
		margin-bottom: 0;
	}
	html{
		font-size: 14px;
	}
	.head{
		width:40%;
		float: left;
	}
	.head img{
		width:100%;

	}
	.information{
		width:55%;
		float: right;
		padding-left:5%;
		margin-top: 0;
	}
	.skill{
		width:100%;
		overflow: hidden;
		margin-top: 20px;
	}
	.other{
		display: none;
	}
	h4{
		margin:10px 0 0;
	}
	.main ul li{
		margin-left: 0;
	}
}